/* Page header */
header {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: baseline;
}
header nav {
  display: flex;
  gap: 20px;
}

/* Film item */
summary {
  display: flex;
  gap: 12px;
}
summary:hover {
  cursor: pointer;
  background: rgb(221, 221, 221);
}
summary > img {
  height: 4em;
}
details[open] {
  border: solid;

  summary {
    background: burlywood;
  }

  button {
    margin: 16px 0 24px 100px;
  }
}
